h3{
    color: grey;
}

#pH14
{
    background: rgb(0, 128, 0);
}

#pH13
{
    background-color: rgb(26, 153, 26);
}

#pH12
{
    background-color: rgb(51, 179, 51);
}

#pH11
{
    background-color: rgb(77, 204, 77);
}

#pH10
{
    background-color: rgb(102, 230, 102);
}

#pH9
{
    background-color: rgb(128, 255, 128);
}

#pH8
{
    background-color: rgb(153, 255, 153);
}

#pH7
{
    background-color: rgb(192, 192, 192);
}

#pH6
{
    background-color: rgb(255, 153, 153);
}

#pH5
{
    background-color: rgb(255, 102, 102);
}

#pH4
{
    background-color: rgb(255, 51, 51);
}

#pH3
{
    background-color: rgb(204, 0, 0);
}

#pH2
{
    background-color: rgb(153, 0, 0);
}

#pH1
{
    background-color: rgb(102, 0, 0);
}